
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {

    @font-face {
        font-family: sotsana;
        src: url('./RealState/Assets/Satoshi-Regular.ttf');
    }

   

    body {
        font-family: sotsana;
        background-color: #FFFFFF;

    }
}
/* From Uiverse.io by ashish-yadv */ 
.loader {
    width: 60px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .ball {
    list-style: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #3675FF;
  }
  
  .ball:nth-child(1) {
    animation: bounce-1 2.1s ease-in-out infinite;
  }
  
  @keyframes bounce-1 {
    50% {
      transform: translateY(-18px);
    }
  }
  
  .ball:nth-child(2) {
    animation: bounce-3 2.1s ease-in-out 0.3s infinite;
  }
  
  @keyframes bounce-2 {
    50% {
      transform: translateY(-18px);
    }
  }
  
  .ball:nth-child(3) {
    animation: bounce-3 2.1s ease-in-out 0.6s infinite;
  }
  
  @keyframes bounce-3 {
    50% {
      transform: translateY(-18px);
    }
  }

  /* From Uiverse.io by vinodjangid07 */ 
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  transition-duration: .5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: #3675FF;
  border-radius: 4px;
}

#bar2 {
  transition-duration: .8s;
}

#bar1,#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle {
  transition-duration: .5s;
  transform: rotate(180deg);
}